<div class="heading-text">
  <div class="text">Diseases</div>
</div>
<div class="search-container">
  <div class="search-container-inner">
    <div class="search-form">
      <form [formGroup]="searchController">
        <div class="input-container mat-elevation-z2">
          <div class="icon">
            <span class="material-icons">search</span>
          </div>
          <input
            class="search-input"
            type="text"
            placeholder="Search plants"
            [formControl]="searchController.get('search')"
            [matAutocomplete]="auto"
          />
          <div
            class="reset"
            mat-ripple
            *ngIf="searchController.get('search').value"
            (click)="searchController.reset()"
          >
            <span class="material-icons">close</span>
          </div>
        </div>

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="container">
    <div class="grid-container-inner">
      <a href="">
        <mat-card>
          <div
            class="image-container"
            style="background-image: url(../../../assets/img/temp/26-500x375.jpg);"
          ></div>
          <div class="description-container">
            <div class="name">Septoria leaf spot</div>
            <div class="description">Septoria lycopersici</div>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
