<pelaguru-breadcrumb id="007"></pelaguru-breadcrumb>
<!-- <br><br>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
<div>
  <div class="container">
    <br />
    <mat-card>
      <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="firstStepEditable">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Upload your images</ng-template>
            <mat-card>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <div class="col-11">
                      <h1
                        style="
                          font-family: Verdana, Geneva, Tahoma, sans-serif;
                        "
                      >
                        Follow The Guidelines
                      </h1>
                      <hr />
                      1. Snap a photo in a clear and well lit environment for
                      better precision.
                      <br />
                      2. Make sure there aren't multiple objects in the
                      background.
                      <br />
                      3. Use a white background to get a good prediction.
                      <br />
                      4. Upload an image less than 10MB.
                      <br />
                      5. You can drag and drop your images.
                      <br />
                      6. Then click "Upload".
                    </div>
                  </div>
                  <div class="col-md-4">
                    <mat-card>
                      <div
                        class="custom-dropzone"
                        [multiple]="false"
                        ngx-dropzone
                        [accept]="'image/*'"
                        (change)="onSelect($event)"
                      >
                        <ngx-dropzone-label>
                          <div>
                            <h2>Drag and drop your images</h2>
                          </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview
                          ngProjectAs="ngx-dropzone-preview"
                          *ngFor="let f of files"
                          [file]="f"
                          [removable]="true"
                          (removed)="onRemove(f)"
                        >
                          <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                      </div>
                    </mat-card>
                  </div>
                </div>
              </div>

              <div style="padding-top: 20px; text-align: right;">
                <button
                  class="mat-elevation-z5"
                  mat-button
                  style="
                    background-color: #84a03c;
                    border-radius: 30px;
                    color: white;
                  "
                  (click)="onUploadClick()"
                >
                  <span class="material-icons">upgrade</span>
                  <strong>Upload</strong>
                </button>
              </div>
            </mat-card>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="secondFormGroup"
          [editable]="secondStepEditable"
        >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Process</ng-template>
            <div class="spin">
              <mat-spinner></mat-spinner>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <br />
          <h3>Your Image</h3>
          <mat-card>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
            >
              <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
            </ngx-dropzone-image-preview>
          </mat-card>
          <br /><br />
          <h3>Final Prediction</h3>
          <mat-card>
            <div class="prediction-container">
              <div class="prediction-container-inner">
                <div class="image-container">
                  <div class="image">
                    <img
                      [src]="(diseaseDetails | async)?.image"
                      class="img-resp"
                      alt=""
                    />
                  </div>
                </div>
                <div class="container">
                  <br />
                  <br />
                  <div class="cat-item">
                    <div class="heading">Disease Name</div>
                    <div class="desc">
                      {{ (diseaseDetails | async)?.diseaseName }}
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="cat-item">
                    <div class="heading">Common Symptoms</div>
                    <div class="desc">
                      <div style="display: grid;">
                        <span
                          *ngFor="
                            let i of (diseaseDetails | async)?.commonSymptoms
                          "
                        >
                          {{ i }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <mat-divider></mat-divider>
                  <div class="cat-item">
                    <div class="heading">Causes</div>
                    <div class="desc">
                      {{ (diseaseDetails | async)?.causes }}
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="cat-item">
                    <div class="heading">Additional Features</div>
                    <div class="desc">
                      <div style="display: grid;">
                        <span
                          *ngFor="
                            let i of (diseaseDetails | async)
                              ?.additionalFeatures
                          "
                        >
                          {{ i }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>

                  <div class="cat-item">
                    <div class="heading">
                      Common Plants that are affected by the disease
                    </div>
                    <div class="desc">
                      {{ (diseaseDetails | async)?.commonPlants }}
                    </div>
                  </div>
                  <mat-divider></mat-divider>

                  <div class="cat-item">
                    <div class="heading">Solutions</div>
                    <div class="desc">
                      <div style="display: grid;">
                        <span
                          *ngFor="let i of (diseaseDetails | async)?.solutions"
                        >
                          {{ i }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p style="text-align: right;">
              <a [routerLink]="'/diseases/' + (diseaseDetails | async)?.id">
                <button mat-raised-button color="primary">More</button>
              </a>
            </p>
          </mat-card>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card>
    <br />
  </div>
  <ngx-spinner color="#84a03c"></ngx-spinner>
  <pelaguru-footer></pelaguru-footer>
</div>
