.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.view {
  margin-top: 10px;
  margin-bottom: 50px;
  opacity: 0.9;
}

.image-container {
  margin: -16px -16px 0 -16px;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
