<pelaguru-breadcrumb id="004"></pelaguru-breadcrumb>
<div class="container-fluid">
  <pelaguru-shop-details></pelaguru-shop-details>
  <div class="settings-container">
    <div class="settings-container-inner">
      <div class="header-text">Settings</div>
      <div class="setting-list-container">
        <div class="setting-list-container-inner">
          <pelaguru-shop-visibility></pelaguru-shop-visibility>
          <pelaguru-shop-key-words></pelaguru-shop-key-words>
          <pelaguru-shop-location></pelaguru-shop-location>
          <pelaguru-delete-shop></pelaguru-delete-shop>
        </div>
      </div>
    </div>
  </div>
</div>
