<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="interface-heading">
      Seller Requests
    </div>
  </nb-card-header>
  <nb-card-body>
    <table mat-table [dataSource]="requests">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <nb-user
            size="medium"
            [name]="element.firstName + ' ' + element.lastName"
          >
          </nb-user>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="requested_at">
        <th mat-header-cell *matHeaderCellDef>Requested at</th>
        <td mat-cell *matCellDef="let element">
          {{ convertDate(element.createdAt) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="shop_name">
        <th mat-header-cell *matHeaderCellDef>Shop name</th>
        <td mat-cell *matCellDef="let element">{{ element.shopName }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/sellers/requests/132456789">
            <button nbButton hero status="info" size="small">More</button></a
          >&nbsp;
          <button
            nbButton
            hero
            status="success"
            size="small"
            (click)="acceptSellerRequests(element.userId, element.id)"
          >
            Accept
          </button>
          &nbsp;
          <button nbButton hero status="danger" size="small">Reject</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </nb-card-body>
</nb-card>
