<pelaguru-breadcrumb id="005"></pelaguru-breadcrumb>
<div class="container-fluid">
  <div class="button-container">
    <a routerLink="/my-shop/shop-items/add-item">
      <button mat-raised-button color="primary">Add shop item</button>
    </a>
  </div>
</div>
<div class="container-fluid">
  <div class="item-list-container">
    <div class="item-list-container-inner">
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
      <pelaguru-shop-item-card></pelaguru-shop-item-card>
    </div>
  </div>
</div>
