<div class="review-item">
  <div class="pic">
    <div class="pic-inner">
      <img
        src="../../../../assets/img/temp/temp-user.svg"
        class="img-resp"
        alt=""
      />
    </div>
  </div>
  <div class="content">
    <div class="name"><a href="">Nishan Wijethunga</a></div>
    <div class="rating" [ngClass]="[ratingClass]">
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
    </div>
    <div class="desc">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium modi
      distinctio harum repellendus, expedita dignissimos tempora consectetur, id
      provident esse fuga sapiente. Distinctio accusantium obcaecati deserunt
      perferendis itaque eveniet illo libero, reiciendis tempora fugit maxime
      non provident unde, fuga, veniam iure quae dolorem harum voluptatibus!
      Consequuntur praesentium labore quaerat nobis?
    </div>
    <p class="time">
      1 min ago
    </p>
  </div>
</div>
