<mat-card>
  <div
    class="image-container"
    [style]="{ 'background-image': ' url(' + data?.image + ')' }"
  ></div>
  <div class="detail-container">
    <div class="name">
      <a class="link" href="">
        {{data?.name}}
      </a>
    </div>
    <div class="short-title">
      {{data?.price}}
    </div>
  </div>
  <div class="button-container">
    <div class="button-container-inner">
      <div class="date">
      </div>
      <div class="switch">
        <mat-slide-toggle color="primary" [checked]="true"></mat-slide-toggle>
      </div>
      <div class="delete">
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
