<div class="container">
  <div class="container-inner">
    <mat-card class="header-card">
      <div class="cover-image"></div>
      <div class="header-container">
        <div class="header-container-inner">
          <div class="title">Shop Name</div>
          <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            officiis eum explicabo nihil commodi deleniti quasi fugiat,
            voluptatem aut ipsa mollitia maiores, fugit ipsum doloribus amet
            doloremque nulla enim minima!
          </div>
        </div>
      </div>
      <div class="back-button">
        <a routerLink="../">
          <button mat-icon-button mat-ripple>
            <mat-icon>arrow_back</mat-icon>
          </button>
        </a>
      </div>
    </mat-card>
    <mat-card class="basic-details-card">
      <div class="title-text">Basic details</div>
      <div placement="center">
        <img
          class="image-container"
          src="../../../../assets/img/temp/shop.webp"
        />
        <div class="container">
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item> Shop Name : Shop 1 </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Description : Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Laudantium possimus cumque veniam sequi quas accusantium,
              rem obcaecati voluptatibus fuga sapiente numquam vitae quis enim.
              Necessitatibus eum ratione animi mollitia dicta.
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Location : location 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Chemicals : chemical 1</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </div>
</div>
