<div class="container">
  <div class="header-container">
    <pelaguru-breadcrumb id="008"></pelaguru-breadcrumb>
    <div
      class="header-container-inner mat-elevation-z2"
      style="
        background-image: url('https://cdn.concreteplayground.com/content/uploads/2016/05/The-Soul-Pantry_website.jpg');
      "
    >
      <div class="details-container">
        <div class="details-container-inner">
          <div class="logo-container">
            <div class="logo-container-inner mat-elevation-z2">
              <img
                src="https://i.pinimg.com/474x/4b/92/7e/4b927efa73a5afb6dba6cb486e49cfea.jpg"
                class="img-resp"
                alt=""
              />
            </div>
          </div>
          <div class="shop-detail-container">
            <div class="shop-detail-container-inner">
              <div class="name">Pritty Garden</div>
              <div class="address">42/B, Mawalgama, Waga.</div>
              <div class="contacts">+94 71 088 1319</div>
              <div class="email">n.sameerawijethunga@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description-container mat-elevation-z2">
      <div class="description-container-inner">
        <div class="header-text">Description</div>
        <div class="desc-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem non laudantium est suscipit culpa deserunt sed, hic
          voluptatum! Recusandae, alias.
        </div>
        <div style="text-align: right;">
          <button
            mat-raised-button
            color="primary"
            style="color: white;"
            (click)="openMessageDialog()"
          >
            Message
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-inner">
    <!-- <mat-card class="basic-details-card"> -->
    <div placement="center">
      <!-- <div class="search-container">
        <div class="search-container-inner">
          <div class="search-form">
            <form [formGroup]="searchController">
              <div class="input-container mat-elevation-z2">
                <div class="icon">
                  <span class="material-icons">search</span>
                </div>
                <input
                  class="search-input"
                  type="text"
                  placeholder="Search plants"
                  [formControl]="searchController.get('search')"
                  [matAutocomplete]="auto"
                />
                <div
                  class="reset"
                  mat-ripple
                  *ngIf="searchController.get('search').value"
                  (click)="searchController.reset()"
                >
                  <span class="material-icons">close</span>
                </div>
              </div>

              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </form>
          </div>
        </div>
      </div> -->
      <hr class="hr_line">
      <br>
      <br>
      <div class="grid-container">
        <div class="container">
          <div class="grid-container-inner">
            <a
              *ngFor="let item of viewshopItems | async"
              routerLink="{{ item.id }}"
            >
              <mat-card>
                <div
                  class="image-container1"
                  [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
                ></div>
                <div class="description-container1">
                  <div class="name">{{ item.name }}</div>
                  <div class="description1">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolores ipsam delectus libero architecto, ut a eum
                    perferendis corporis cupiditate obcaecati veritatis nulla
                    suscipit quas commodi eaque ad recusandae aperiam enim!
                  </div>
                  <div class="pricing">
                    {{ item.price }}
                  </div>
                  <div class="rating">
                    <div class="rating-inner">
                      <span class="material-icons">star</span>
                      <span class="material-icons">star</span>
                      <span class="material-icons">star</span>
                      <span class="material-icons">star</span>
                      <span class="material-icons">star</span>
                    </div>
                  </div>
                </div>
              </mat-card>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- </mat-card> -->
  </div>
</div>
<pelaguru-footer></pelaguru-footer>
