<div class="home-section">
  <div class="home-section-inner">
    <div
      class="back-image"
      style="background-image: url(../../assets/img/background.png);"
    ></div>
    <div class="middle-container">
      <div class="middle-back"></div>
      <div class="heading-text">Title Text</div>
      <div class="description-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas vitae
        temporibus provident ab nulla, dolores ducimus autem minima ipsam,
        voluptatem odit.
      </div>
      <div class="button-container">
        <a routerLink="/diseases-identifier">
          <button class="image-upload-button mat-elevation-z5" mat-ripple>
            <div class="icon">
              <span class="material-icons">photo_camera</span>
            </div>
            <div class="label"><div>Upload image</div></div>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
