<nb-card status="success">
    <nb-card-header>{{diseaseName}}</nb-card-header>
    <nb-card-body>
        <img [src]="image" alt="Place image title" width="100%">
    </nb-card-body>
</nb-card>
<nb-card status="success">
    <nb-card-header>Symptomps</nb-card-header>
    <nb-card-body>
        {{commonSymptomps}}
    </nb-card-body>
</nb-card>
<nb-card status="success">
    <nb-card-header>Common Plants</nb-card-header>
    <nb-card-body>
        {{commonPlants}}
    </nb-card-body>
</nb-card>
<nb-card status="success">
    <nb-card-header>Solutions</nb-card-header>
    <nb-card-body>
        {{solutions}}
    </nb-card-body>
</nb-card>
<nb-card status="success">
    <nb-card-header>Features</nb-card-header>
    <nb-card-body>
        {{additionalFeatures}}
    </nb-card-body>
</nb-card>