<button class="button-content container-fluid" mat-ripple (click)="openChat()">
  <div class="active-ind"></div>
  <div class="content">
    <div class="pic">
      <div class="image">
        <img
          src="../../../../../assets/img/temp/temp-user.svg"
          class="img-resp"
        />
      </div>
    </div>
    <div class="details">
      <div class="details-container">
        <div class="name">Nishan Wijethunga</div>
        <div class="message">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente
          exercitationem ea praesentium perferendis eligendi quas, ab a ipsa
          repudiandae tempora excepturi nemo illum corrupti labore, voluptas
          dicta, ad eum id?
        </div>
      </div>
    </div>
  </div>
</button>
