<pelaguru-breadcrumb id="001"></pelaguru-breadcrumb>
<div class="container-fluid content-container">
  <div class="section-1">
    <div class="section-1-inner">
      <div class="cb">
        <mat-card>
          <div class="header-container">
            <div class="title-text">
              Behavior of your customers
            </div>
            <div class="desc">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
              aperiam reiciendis laudantium recusandae natus. Quae natus iste
              dignissimos ducimus. Rerum.
            </div>
          </div>
          <div class="cart-container">
            <pelaguru-behavior-chart></pelaguru-behavior-chart>
          </div>
        </mat-card>
      </div>
      <div class="sv">
        <div class="shop-views">
          <mat-card>
            <div class="heading-text">Shop views</div>
            <div class="count">
              102
              <span class="material-icons trending-up">
                trending_up
              </span>
              <!-- <span class="material-icons">
                trending_down
              </span> -->
            </div>
            <div class="footer-text">
              <div class="left-text">234 total views</div>
              <div class="right-text"></div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="cv">
        <div class="contacts-views">
          <mat-card>
            <div class="heading-text">Contacts views</div>
            <div class="count">
              45
              <!-- <span class="material-icons trending-up">
                trending_up
              </span> -->
              <span class="material-icons trending-down">
                trending_down
              </span>
            </div>
            <div class="footer-text">
              <div class="left-text">200 total views</div>
              <div class="right-text"></div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="pp">
        <mat-card>
          <div class="heading-text">Products views</div>
          <div class="items-container">
            <pelaguru-popular-products></pelaguru-popular-products>
          </div>
        </mat-card>
      </div>
      <div class="rev">
        <mat-card>
          <div class="heading-text">Product reviews</div>
          <div class="review-container">
            <pelaguru-user-review-item rating="1"></pelaguru-user-review-item>
            <pelaguru-user-review-item rating="2"></pelaguru-user-review-item>
            <pelaguru-user-review-item rating="3"></pelaguru-user-review-item>
            <pelaguru-user-review-item rating="4"></pelaguru-user-review-item>
            <pelaguru-user-review-item rating="5"></pelaguru-user-review-item>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
