<div class="right-drawer">
  <div class="right-drawer-inner">
    <div class="profile-container" *ngIf="viewState === 'PROFILE'">
      <div class="right-list-container">
        <div class="right-list-container-inner">
          <div class="profile-detail-container">
            <div class="name">{{ (userData | async)?.displayName }}</div>
            <div class="email">{{ (userData | async)?.email }}</div>
          </div>
          <div class="right-item" *ngIf="!(isVendor | async)">
            <a routerLink="/seller-request" routerLinkActive="active">
              <div class="right-item-inner important" mat-ripple>
                Request for seller
              </div>
            </a>
          </div>
          <div class="right-item" *ngFor="let right of profileLinks">
            <a [routerLink]="right.link" routerLinkActive="active">
              <div class="right-item-inner" mat-ripple>{{ right.label }}</div>
            </a>
          </div>
          <div class="right-item">
            <div class="right-item-inner" mat-ripple (click)="logOut()">
              Sign out
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-container" *ngIf="viewState === 'NOTIFICATION'">
      <div class="notification-container-inner">
        <div class="header-container">
          <div class="text">Notifications</div>
        </div>
        <div class="button-container">
          <button mat-button>Clear all</button>
        </div>
        <div class="notification-list-container">
          <div class="notification-list-container-inner">
            <div class="notification-item">
              <div class="header">
                <div class="label">Title</div>
                <div class="close-button">
                  <button>
                    <span class="material-icons">close</span>
                  </button>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi
                provident tempore accusantium consequatur necessitatibus alias
                ab doloribus facilis, optio enim?
              </div>
              <div class="time">April 22, 2020</div>
            </div>
            <div class="notification-item">
              <div class="header">
                <div class="label">Title</div>
                <div class="close-button">
                  <button>
                    <span class="material-icons">close</span>
                  </button>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi
                provident tempore accusantium consequatur necessitatibus alias
                ab doloribus facilis, optio enim?
              </div>
              <div class="time">April 22, 2020</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
