<div class="header-container">
  <div
    class="header-container-inner mat-elevation-z2"
    style="
      background-image: url('https://cdn.concreteplayground.com/content/uploads/2016/05/The-Soul-Pantry_website.jpg');
    "
  >
    <div class="button-container">
      <button mat-raised-button class="shop-edit-button">Edit shop</button>
    </div>
    <div class="details-container">
      <div class="details-container-inner">
        <div class="logo-container">
          <div class="logo-container-inner mat-elevation-z2">
            <img
              src="https://i.pinimg.com/474x/4b/92/7e/4b927efa73a5afb6dba6cb486e49cfea.jpg"
              class="img-resp"
              alt=""
            />
          </div>
        </div>
        <div class="shop-detail-container">
          <div class="shop-detail-container-inner">
            <div class="name">Pritty Garden</div>
            <div class="address">42/B, Mawalgama, Waga.</div>
            <div class="contacts">+94 71 088 1319</div>
            <div class="email">n.sameerawijethunga@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-container mat-elevation-z2">
    <div class="description-container-inner">
      <div class="header-text">Description</div>
      <div class="desc-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        non laudantium est suscipit culpa deserunt sed, hic voluptatum!
        Recusandae, alias.
      </div>
    </div>
  </div>
</div>
