<pelaguru-breadcrumb id="006"></pelaguru-breadcrumb>

<div>
  <div class="container-fluid view">
    <mat-card>
      <div class="heading"></div>
      <form [formGroup]="firstFormGroup">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-hint>Enter the name.</mat-hint>
                <mat-error>Name is required.</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  rows="5"
                  formControlName="description"
                ></textarea>
                <mat-hint>Enter the description.</mat-hint>
                <mat-error>Description is required.</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Ingredients</mat-label>
                <textarea
                  matInput
                  rows="5"
                  formControlName="ingredients"
                ></textarea>
                <mat-hint>Enter the ingredients.</mat-hint>
                <mat-error>Ingredients are required.</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Note</mat-label>
                <textarea matInput rows="5" formControlName="note"></textarea>
                <mat-hint>Enter the note.</mat-hint>
                <mat-error>Note is required.</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number" />
                <mat-hint>Enter the price.</mat-hint>
                <mat-error>Price is required.</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Diseases</mat-label>
                <mat-select
                  [formControl]="firstFormGroup.get('diseases')"
                  multiple
                >
                  <mat-option
                    *ngFor="let disease of diseaseList.asObservable() | async"
                    [value]="disease.id"
                    >{{ disease.name }}</mat-option
                  >
                </mat-select>
                <mat-hint>Select the diseases.</mat-hint>
                <mat-error>Diseases is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-card
                style="height: 100%; display: grid; align-content: center;"
              >
                <div
                  class="custom-dropzone"
                  [multiple]="false"
                  ngx-dropzone
                  [accept]="'image/*'"
                  (change)="onSelect($event)"
                >
                  <ngx-dropzone-label>
                    <div>
                      <h2>Drag and drop your images</h2>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview
                    ngProjectAs="ngx-dropzone-preview"
                    *ngFor="let f of files"
                    [file]="f"
                    [removable]="true"
                    (removed)="onRemove(f)"
                  >
                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                  </ngx-dropzone-image-preview>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            style="color: white;"
            (click)="addShopItem()"
          >
            Add Item
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <!-- <pelaguru-footer></pelaguru-footer> -->
</div>
