<nb-layout>
  <nb-layout-column>
    <div class="card-container">
      <nb-card>
        <nb-card-body>
          <div class="header-container">
            <div class="image-container">
              <div class="image">
                <img
                  src="../../../../assets/img/logo/main-logo.svg"
                  class="img-resp"
                  alt=""
                />
              </div>
            </div>
            <div class="title-container">
              <h5 class="title-text">Admin</h5>
              <p class="sub-title">Recover your account.</p>
            </div>
          </div>

          <div class="form-container">
            <form
              (submit)="resetPassword()"
              [formGroup]="formControl"
              aria-labelledby="title"
            >
              <div class="form-control-group">
                <nb-form-field>
                  <input
                    [type]="isPasswordShow ? 'text' : 'password'"
                    nbInput
                    fullWidth
                    formControlName="password"
                    id="input-password"
                    placeholder="Password"
                    fieldSize="medium"
                    autofocus
                    [status]="
                      formControl.get('password').dirty
                        ? formControl.get('password').invalid
                          ? 'danger'
                          : 'success'
                        : 'basic'
                    "
                    [attr.aria-invalid]="
                      formControl.get('password').invalid &&
                      formControl.get('password').touched
                        ? true
                        : null
                    "
                  />
                  <button
                    nbSuffix
                    nbButton
                    ghost
                    (click)="isPasswordShow = !isPasswordShow"
                  >
                    <nb-icon
                      [icon]="
                        isPasswordShow ? 'eye-outline' : 'eye-off-2-outline'
                      "
                      pack="eva"
                      [attr.aria-label]="
                        isPasswordShow ? 'hide password' : 'show password'
                      "
                    >
                    </nb-icon>
                  </button>
                </nb-form-field>
                <ng-container
                  *ngIf="
                    formControl.get('password').invalid &&
                    formControl.get('password').touched
                  "
                >
                  <p
                    class="caption-2 text-hint status-danger"
                    *ngIf="formControl.get('password').hasError('required')"
                  >
                    Password is required.
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <nb-form-field>
                  <input
                    [type]="isPasswordShow ? 'text' : 'password'"
                    nbInput
                    fullWidth
                    formControlName="cpassword"
                    id="input-password"
                    placeholder="Confirm Password"
                    fieldSize="medium"
                    [status]="
                      formControl.get('cpassword').dirty
                        ? formControl.get('cpassword').invalid ||
                          formControl.hasError('confirmPasswordNotMatched')
                          ? 'danger'
                          : 'success'
                        : 'basic'
                    "
                    [attr.aria-invalid]="
                      (formControl.get('cpassword').invalid ||
                        formControl.hasError('confirmPasswordNotMatched')) &&
                      formControl.get('cpassword').touched
                        ? true
                        : null
                    "
                  />
                </nb-form-field>
                <ng-container
                  *ngIf="
                    (formControl.get('cpassword').invalid ||
                      formControl.hasError('confirmPasswordNotMatched')) &&
                    formControl.get('cpassword').touched
                  "
                >
                  <p
                    class="caption-2 text-hint status-danger"
                    *ngIf="formControl.get('cpassword').hasError('required')"
                  >
                    Confirm your password.
                  </p>
                  <p
                    class="caption-2 text-hint status-danger"
                    *ngIf="
                      formControl.hasError('confirmPasswordNotMatched') &&
                      formControl.get('cpassword').valid
                    "
                  >
                    Confirm password didn't matched to the password.
                  </p>
                </ng-container>
              </div>

              <button
                nbButton
                fullWidth
                status="primary"
                size="small"
                [disabled]="submitted || !formControl.valid"
                [class.btn-pulse]="submitted"
              >
                Reser Password
              </button>
            </form>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
