<div class="container">
  <div class="container-inner">
    <mat-card class="header-card">
      <!-- <div
        class="cover-image"
        style="background-image: url(https://images5.alphacoders.com/378/thumb-1920-378648.jpg);"
      ></div> -->
      <div class="cover-image"></div>
      <div class="header-container">
        <div class="header-container-inner">
          <div class="title">{{ plant.plantName }}</div>
          <div class="desc">{{ plant.desc }}</div>
        </div>
      </div>
      <div class="back-button">
        <a routerLink="../">
          <button mat-icon-button mat-ripple>
            <mat-icon>arrow_back</mat-icon>
          </button>
        </a>
      </div>
    </mat-card>
    <mat-card class="basic-details-card">
      <div class="title-text">Basic details</div>
      <div placement="center">
        <img class="image-container" src="{{ plant.image }}" />
        <div class="container">
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item> Plant Name : {{ plant.plantName }} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              Popular Districts : {{ plant.popularDistricts }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Uses : {{ plant.uses }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item
              >Common Diseases : {{ plant.commonDiseases }}</mat-list-item
            >
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
      <!-- <pelaguru-suggestion></pelaguru-suggestion> -->
    </mat-card>
  </div>
</div>
