<div class="container">
  <div class="container-inner">
    <mat-card class="header-card">
      <!-- <div
        class="cover-image"
        style="background-image: url(https://images5.alphacoders.com/378/thumb-1920-378648.jpg);"
      ></div> -->
      <div class="cover-image"></div>
      <div class="header-container">
        <div class="header-container-inner">
          <div class="title">{{ (plantDetails | async)?.plantName  }}</div>
          <div class="desc">{{ (plantDetails | async)?.scientificName }}</div>
        </div>
      </div>
      <div class="back-button">
        <a routerLink="../">
          <button mat-icon-button mat-ripple>
            <mat-icon>arrow_back</mat-icon>
          </button>
        </a>
      </div>
    </mat-card>
    <mat-card class="basic-details-card">
      <div class="title-text">Basic details</div>
      <div placement="center">
        <img class="image-container" src="{{ (plantDetails | async)?.image }}" />
        <div class="container">
          <mat-list>
            <mat-divider></mat-divider>
            <div class="cat-item">
              <div class="heading">Plant Name : </div>
              <div class="desc">
                {{ (plantDetails | async)?.plantName}}
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="cat-item">
              <div class="heading">Uses : </div>
              <div class="desc">
                <div style="display: grid;">
                  <span
                    *ngFor="let i of (plantDetails | async)?.uses"
                  >
                    {{ i }}
                  </span>
                </div>
              </div>
            </div>

            <mat-divider></mat-divider>
            <div class="cat-item">
              <div class="heading">Common Diseases</div>
              <div class="desc">
                <div style="display: grid;">
                  <span
                    *ngFor="let i of (plantDetails | async)?.commonDiseases"
                  >
                    <a routerLink="/diseases/{{i?.diseasesId}}">{{ i?.diseasesName }}</a>
                  </span>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </div>
</div>
