<pelaguru-auth-nav-bar authPage="SIGN_IN"></pelaguru-auth-nav-bar>
<div class="auth-container">
  <div
    class="back"
    style="background-image: url('../../../../assets/img/background.png');"
  ></div>
  <div class="auth-container-inner">
    <mat-card>
      <div class="header-container">
        <div class="text">Sign In</div>
      </div>
      <div class="form-container">
        <form [formGroup]="formController">
          <mat-form-field class="mat-form-field">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              autocomplete="username"
              [errorStateMatcher]="matcher"
            />
            <mat-hint>Enter your email address.</mat-hint>
            <mat-error>Please enter your email address.</mat-error>
          </mat-form-field>
          <mat-form-field class="mat-form-field">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="current-password"
              [errorStateMatcher]="matcher"
            />
            <mat-hint>Enter your password.</mat-hint>
            <mat-error>Please enter your password.</mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="signin-button">
        <button
          mat-raised-button
          color="primary"
          style="color: white;"
          (click)="isLoading ? null : signIn()"
        >
          <span *ngIf="!isLoading">
            Sign In
          </span>
          <pelaguru-btn-loading color="#ffffff" *ngIf="isLoading">
          </pelaguru-btn-loading>
        </button>
      </div>
      <div class="forgot-password">
        or <a routerLink="/forgot-password">Forgot Password</a>
      </div>
      <!-- <div class="line-break"></div> -->
      <div class="google-sign-in-button">
        <pelaguru-google-sign-in></pelaguru-google-sign-in>
      </div>
      <!-- <div class="line-break"></div> -->
      <div class="to-sign-in">
        <div class="text">
          Don't have an account? <a routerLink="/sign-up">Sign Up</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
