<div class="header-container mat-elevation-z1">
  <div class="mobile-responsive-button-container">
    <button class="mobile-responsive-button" mat-ripple (click)="closeC()">
      <span class="material-icons">
        chevron_right
      </span>
    </button>
  </div>
  <div class="header-container-inner">
    <div class="pic">
      <div class="image">
        <img
          src="../../../../../assets/img/temp/temp-user.svg"
          class="img-resp"
          alt=""
        />
      </div>
    </div>
    <div class="detail">
      <div class="detail-inner">
        <div class="name">Nishan Wijethunga</div>
        <div class="email">n.sameerawijethunga@gmail.com</div>
      </div>
    </div>
  </div>
</div>
<div class="chat-container">
  <div class="chat-container-inner">
    <pelaguru-message-chat-left-item></pelaguru-message-chat-left-item>
    <pelaguru-message-chat-right-item></pelaguru-message-chat-right-item>
    <pelaguru-message-chat-left-item></pelaguru-message-chat-left-item>
    <pelaguru-message-chat-right-item></pelaguru-message-chat-right-item>
    <pelaguru-message-chat-left-item></pelaguru-message-chat-left-item>
    <pelaguru-message-chat-left-item></pelaguru-message-chat-left-item>
    <pelaguru-message-chat-right-item></pelaguru-message-chat-right-item>
    <pelaguru-message-chat-right-item></pelaguru-message-chat-right-item>
    <pelaguru-message-chat-right-item></pelaguru-message-chat-right-item>
    <pelaguru-message-chat-left-item></pelaguru-message-chat-left-item>
    <pelaguru-message-chat-left-item></pelaguru-message-chat-left-item>
  </div>
</div>
<div class="chat-form-container">
  <div class="chat-form-container-inner">
    <form>
      <div class="form-container mat-elevation-z1">
        <div class="icon">
          <span class="material-icons">chat</span>
        </div>
        <input type="text" class="chat-input" placeholder="Write a message" />
        <button class="send-button" mat-ripple>
          <span class="material-icons">send</span>
        </button>
      </div>
    </form>
  </div>
</div>
