<div class="notification-item" *ngFor="let msg of msgs; let i = index">
  <div class="header">
    <div class="label">{{ title }}</div>
    <div class="close-button">
      <button>
        <span class="material-icons">close</span>
      </button>
    </div>
  </div>
  <div class="content">
    {{ msg.msg }}
  </div>
  <button (click)="reply(msg.shopId)" mat-raised-button color="primary">reply</button>
</div>
<!-- <div class="notification-item">
            <div class="header">
              <div class="label">Title</div>
              <div class="close-button">
                <button>
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>
            <div class="content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi
              provident tempore accusantium consequatur necessitatibus alias
              ab doloribus facilis, optio enim?
            </div>
            <div class="time">April 22, 2020</div>
          </div> -->