.bcground_image {
  // background-image: url('../../../assets/img/background.png');
  background-size: cover;
  min-height: 100%;
}

.example-form {
  min-width: 100%;
  max-width: 100px;
  width: 100%;
}
.x {
  width: 700px;
}
.example-full-width {
  width: 100%;
}

.form-group {
  display: flex;
}
.form-group input {
  width: 50%;
}
.form-group input:first-child {
  margin-right: 25px;
}

.form-wrapper {
  position: relative;
}
.form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0;
}

.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
}
.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: 'Poppins-Regular';
}
.form-control::-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: 'Poppins-Regular';
}
.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: 'Poppins-Regular';
}
.form-control:-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: 'Poppins-Regular';
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}
select option[value=''][disabled] {
  display: none;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 1199px) {
  .wrapper {
    background-position: right center;
  }
}
@media (max-width: 991px) {
  .inner form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .inner {
    display: block;
  }
  .inner .image-holder {
    width: 100%;
  }
  .inner form {
    width: 100%;
    padding: 40px 0 30px;
  }
}

.spin {
  display: grid;
  justify-content: center;
  padding: 5em 0;
}

.is-pending {
  padding: 5em 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--primary);
}

.is-rejected {
  padding: 5em 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: red;
}
