<div class="grid-container">
  <div class="row">
    <div class="col-3">
      <mat-card class="card1">
        <div class="container-fluid">
          <img
            src="../../../assets/img/temp/temp-user.svg"
            alt=""
            style="width: 320px;height: 320px;border-radius: 50%;margin-top: 30px;margin-bottom: 30px;"
          />
          <mat-card style="width: 300px;text-align: center;">
            <h1 style="margin-bottom: 0;">Ravishan Fernando</h1>
            <p>myemail@gmail.com</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque voluptatum magnam ipsam, repudiandae quod soluta optio
              repellat, adipisci eum exercitationem veritatis autem ab odit non,
              a cumque rem consequuntur velit!
            </p>
          </mat-card>
        </div>
      </mat-card>
    </div>

    <div class="col-9">
      <mat-card class="card2">
        <form class="contact100-form validate-form">
          <span class="contact100-form-title">
            <h1>My Profile</h1>
          </span>

          <div
            class="wrap-input100 validate-input bg1"
            data-validate="Please Type Your Name"
          >
            <span class="label-input100">FULL NAME *</span>
            <input
              class="input100"
              type="text"
              name="name"
              placeholder="Enter Your Name"
            />
          </div>

          <div
            class="wrap-input100 validate-input bg1 rs1-wrap-input100"
            data-validate="Enter Your Email (e@a.x)"
          >
            <span class="label-input100">Email *</span>
            <input
              class="input100"
              type="text"
              name="email"
              placeholder="Enter Your Email "
            />
          </div>

          <div class="wrap-input100 bg1 rs1-wrap-input100">
            <span class="label-input100">Phone</span>
            <input
              class="input100"
              type="text"
              name="phone"
              placeholder="Enter Number Phone"
            />
          </div>
          <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
              <span>
                Submit
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
