<div class="grid-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <mat-card class="card1">
          <div class="back-button">
            <a routerLink="../">
              <button mat-icon-button mat-ripple>
                <mat-icon>arrow_back</mat-icon>
              </button>
            </a>
          </div>
          <img src="../../../assets/img/temp/temp-user.svg" alt="" />
          <mat-card>
            <h1>Ravishan Fernando</h1>
            <p>myemail@gmail.com</p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque voluptatum magnam ipsam, repudiandae quod soluta optio
              repellat, adipisci eum exercitationem veritatis autem ab odit non,
              a cumque rem consequuntur velit!
            </p>
          </mat-card>
        </mat-card>
      </div>

      <div class="col-9" style="margin-bottom: 20px;">
        <mat-card
          class="card2"
          style="margin-top: 10px;margin-right: -5px;margin-left: -5px;min-height: 100%;background-image: url('../../../assets/img/background.png');background-size: cover;"
        >
          <div
            class="container-fluid"
            style="background-color: white;background-size: cover;padding-bottom: 140px;margin-top: 15px;"
          >
            <form class="container">
              <h1>My Profile</h1>
              <hr />
              <br /><br /><br />
              <div class="form-group">
                <input
                  type="text"
                  placeholder="First Name"
                  class="form-control"
                  name="first_name"
                />
                <input
                  type="text"
                  placeholder="Last Name"
                  class="form-control"
                  name="last_name"
                />
              </div>
              <div class="form-wrapper">
                <input
                  type="text"
                  placeholder="Username"
                  class="form-control"
                  name="user"
                />
              </div>
              <div class="form-wrapper">
                <input
                  type="text"
                  placeholder="Email Address"
                  class="form-control"
                  name="email"
                />
              </div>
              <div class="form-wrapper">
                <input
                  type="text"
                  placeholder="Telephone"
                  class="form-control"
                  name="telephone"
                />
              </div>
              <div class="form-wrapper">
                <input
                  type="textarea"
                  placeholder="Description"
                  class="form-control"
                  name="description"
                />
              </div>
              <br /><br /><br />
              <button
                mat-button
                class="mat-elevation-z5"
                name="button"
                style="background-color:#84a03c;border-radius: 30px;"
                mat-ripple
              >
                <b>Update</b>
              </button>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<pelaguru-footer></pelaguru-footer>
